---
import TestimonialCard from '@components/mentoria/TestimonialCard.astro';
import { ArrowRight } from '@lucide/astro';

const testimonials = [
  {
    name: 'Murilo Messias',
    role: 'Frontend Developer',
    image: '/src/assets/images/murilo.webp',
    content:
      'A mentoria com o Bruno foi extremamente valiosa para meu desenvolvimento profissiona e pessoal. Ele compartilhou conhecimentos aprofundados sobre testes de acessibilidade, desmistificando os conceitos da WCAG de uma forma clara e prática. As explicações detalhadas me permitiram implementar princípios de acessibilidade de maneira concreta em meus projetos de frontend, melhorando significativamente a qualidade e inclusividade das interfaces que desenvolvo. Os insights fornecidos não ficaram apenas no campo teórico, mas se traduziram em aplicações diretas no meu dia a dia como desenvolvedor.',
  },
  {
    name: 'Cínthia Ferraz',
    role: 'Analista de Testes de Software',
    image: '/src/assets/images/cinthia.webp',
    content:
      'A mentoria com o Bruno foi muito enriquecedora. Ele abordou vários conhecimentos sobre testes de acessibilidade, explicou os conceito da WCAG e como aplicá-los de forma que eu consegui utilizar no dia-a-dia. Foi uma experiência muito boa que valeu muito à pena.',
  },
  {
    name: 'Rosana Maria',
    role: 'Analista de Testes',
    image: '/src/assets/images/rosana.jpeg',
    content:
      'Já vinha acompanhando sobre o tema, pois acho extremamente importante conhecermos e com a mentoria tive um melhor entendimento, além de verificar na prática como realmente funciona. Grata pela mentoria, super indico.',
  },
  {
    name: 'Pricila Ventura',
    role: 'Product Designer',
    image: '/src/assets/images/pricila.webp',
    content:
      'A mentoria superou minhas expectativas. Bruno Pulis é uma pessoa extremamente atenciosa e tem domínio sobre o que fala. Para mim que sou iniciante, no assunto de acessibilidade, foi uma experiência muito rica. Só tenho que agradecer por todo conhecimento compartilhado! 🙏🏽',
  },
  {
    name: 'Daniela Capassi',
    role: 'Analista de Qualidade em Acessibilidade Digital',
    image: '/src/assets/images/daniela.webp',
    content:
      'A mentoria superou minhas expectativas. Bruno Pulis é uma pessoa extremamente atenciosa e tem domínio sobre o que fala. Para mim que sou iniciante, no assunto de acessibilidade, foi uma experiência muito rica. Só tenho que agradecer por todo conhecimento compartilhado! 🙏🏽',
  },
  {
    name: 'Joana Voloski',
    role: 'Product Designer',
    image: '/src/assets/images/joana.webp',
    content:
      'Ter essa mentoria foi muito importante para mim, que já trabalho com acessibilidade. Me deu visões diferentes e interessantes de como realizar meu trabalho. As vezes estamos tão imersos numa solução, que uma visão externa pode nos dar outras perspectivas. Foi uma conversa muito rica, adorei',
  },
  {
    name: 'Welita Mendes',
    role: 'QA Enginner',
    image: '/src/assets/images/welita.jpeg',
    content:
      'Eu conheci o Pulis através de indicação de amigos do Curso do Júlio de Lima, estava estudando sobre acessibilidade e pensando como eu poderia aplicar. Todo tempo ele foi atencioso e tirando todas as minhas dúvidas. Só tenho que agradecer pela dedicação e comprometimento.',
  },
];
---

<section class="bg-gray-100 py-16 md:py-24" aria-labelledby="testimonials-heading">
  <div class="container mx-auto px-6">
    <div class="mb-16 text-center">
      <span
        class="bg-blood-red-800 mb-4 inline-block rounded-full px-4 py-1 text-sm font-medium text-white"
      >
        Depoimentos
      </span>
      <h2
        class="text-errie-black-900 mb-6 text-3xl font-bold md:text-4xl"
        id="testimonials-heading"
      >
        O que dizem nossos <span class="text-blood-red-800">alunos</span>
      </h2>
      <p class="text-errieBlack mx-auto max-w-3xl text-lg md:text-xl">
        Conheça as histórias de quem já transformou sua carreira com a mentoria BASE.
      </p>
    </div>

    <div class="grid grid-cols-1 gap-8 md:grid-cols-3">
      {
        testimonials.map((testimonial, index) => (
          <TestimonialCard
            key={index}
            name={testimonial.name}
            role={testimonial.role}
            image={testimonial.image}
            content={testimonial.content}
          />
        ))
      }
    </div>

    <div
      class="m-auto flex max-w-xs flex-row flex-nowrap gap-4 py-12 sm:max-w-md sm:flex-row sm:justify-center lg:justify-center"
    >
      <div class="flex w-full sm:w-auto">
        <a
          href="https://wa.me/5531999095234?text=Ol%C3%A1,%20tenho%20interesse%20na%20mentoria%20de%20acessibilidade%20digital"
          class="text-blood-red-800 inline-block text-center font-semibold transition-all duration-300 hover:underline hover:underline-offset-8"
        >
          Aplicar para mentoria
          <ArrowRight class="ml-2 inline-block h-6 w-6" aria-hidden="true" />
        </a>
      </div>
    </div>
  </div>
</section>
