---
import { type CollectionEntry, getCollection } from "astro:content";
import { ArrowRight } from "@lucide/astro";
import type { GetStaticPathsOptions, Page } from "astro";

import Layout from "@layout/Layout.astro";

import Header from "@components/layouts/Header.astro";
import TagFilter from "@components/TagFilter.astro";
import BlogSidebar from "@components/BlogSidebar.astro";
import Pagination from "@components/Pagination.astro";
import Footer from "@components/layouts/Footer.astro";

import { getAllTags } from "@utils/getAllTags";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
	const posts = await getCollection("blog", ({ data }) => {
		return data.draft !== true;
	});

	const sortedPosts = posts.sort((a, b) => {
		return (
			new Date(b.data.publishDate).valueOf() -
			new Date(a.data.publishDate).valueOf()
		);
	});

	return paginate(sortedPosts, { pageSize: 6 });
}

type Props = { page: Page<CollectionEntry<"blog">> };

const { page } = Astro.props;
const posts = page.data;
const tags = getAllTags(posts);

const allTags = [...new Set(
  posts.flatMap(post => post.data.tags || [])
)].sort();

function formatDate(date: string | number | Date) {
	const formatter = new Intl.DateTimeFormat("pt-BR", {
		year: "numeric",
		month: "long",
		day: "numeric",
	});

	return formatter.format(new Date(date));
}

export const prerender = true;
---

<Layout title="Blog - Bruno Pulis" description="Artigos sobre desenvolvimento, acessibilidade e qualidade de software">
  <Header />
  <main id="main-content">
    <section id="hero" aria-labelledby="hero-section">
      <div class="mx-auto grid max-w-7xl items-center gap-12 px-6 py-24 md:grid-cols-2">
        <div>
          <h1 class="mb-6 text-5xl leading-tight font-bold" id="hero-section">
            Coisas que tenho pensado
          </h1>
          <p class="text-xl leading-relaxed font-light text-errie-black-900">
            Escrevo sobre acessibilidade, tecnologia, teologia, produtividade.
          </p>
          <p class="text-xl leading-relaxed font-light text-errie-black-900">
            Nem tudo é técnico, às vezes é só sobre a vida.
          </p>
         <TagFilter allTags={allTags} />
        </div>
      </div>
    </section>

    <section class="py-16">
      <div class="mx-auto max-w-7xl px-6">
        <div class="grid gap-8 lg:grid-cols-3">
          <div class="lg:col-span-2">
            <div class="space-y-8">
              <ul>
                {
                  posts.map((post, index) => (
                    <li class="py-4" data-tags={post.data.tags?.join(',')}>
                      <h3 class="mb-4 text-3xl font-bold">
                        <a href={'/blog/' + post.id} class="u-url group block">
                          {post.data.title}
                        </a>
                      </h3>
                      <p class="text-xl font-light my-4 flex items-center gap-4">
                        <time class="font-display text-errie-black-900">
                          Publicado em:
                          {formatDate(post.data.publishDate)}
                        </time>
                      </p>
                      <p class="mb-6 text-2xl font-light text-errie-black-900">
                        {post.data.excerpt}
                      </p>
                      {post.data.tags && (
                        <div class="post-tags">
                          {post.data.tags.map((tag: string) => (
                            <span class="tag-badge">{tag}</span>
                          ))}
                        </div>
                      )}
                      <a
                        href={`/blog/${post.slug}`}
                        aria-labelledby={`post-${index}`}
                        class="flex items-center gap-2 font-semibold text-errie-black-900 underline underline-offset-8 transition hover:no-underline"
                      >
                        Ler artigo completo
                        <ArrowRight class="h-3 w-3" aria-hidden="true" />
                      </a>
                    </li>
                  ))
                }
              </ul>
            </div>

            <Pagination
              currentPage={page.currentPage}
              lastPage={page.lastPage}
              prevUrl={page.url.prev}
              nextUrl={page.url.next}
            />
          </div>
          <BlogSidebar tags={tags} />
        </div>
      </div>
    </section>
  </main>
  <Footer />
</Layout>

