---
import { type CollectionEntry, getCollection, render } from "astro:content";

import { CalendarIcon, ClockIcon } from "@lucide/astro";

import Layout from "@layout/Layout.astro";
import Header from "@components/layouts/Header.astro";
import Author from "@components/blog/Author.astro";
import EmailReplyButton from "@/components/EmailReplyButton.astro";
import BackBlog from "@components/blog/BackBlog.astro";
import Footer from "@components/layouts/Footer.astro";

// Gerar rotas para todos os posts
export async function getStaticPaths() {
	const posts = await getCollection("blog");

	return posts.map((post) => ({
		params: { slug: post.slug },
		props: { post },
	}));
}

type Props = {
	post: CollectionEntry<"blog">;
	prevPost: CollectionEntry<"blog">;
	nextPost: CollectionEntry<"blog">;
};

// Receber o post das props
const { post } = Astro.props;
const { Content } = await render(post);

// Formatar data para pt-BR
const publishDateString = String(post.data.publishDate);
const formattedDate = new Date(publishDateString).toLocaleDateString("pt-BR", {
	year: "numeric",
	month: "long",
	day: "numeric",
});

const isoDate = new Date(publishDateString).toISOString();

const postTitle = post.data.title;
const postUrl = Astro.url.href;

export const prerender = true;
---

<Layout
  title={`${post.data.title} + "Bruno Pulis"`}
  description="Artigos sobre desenvolvimento, acessibilidade e qualidade de software"
>
  <Header />
  <main id="main-content">
    <div class="min-h-screen bg-white">
      <BackBlog />

      <header class="bg-white px-6 py-12 lg:px-20">
        <div class="mx-auto max-w-4xl px-4 sm:px-6 lg:px-8">
          <div class="mb-4">
            <span
              class="focus-visible:border-ring focus-visible:ring-ring/50 aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive [a&]:hover:bg-primary/90 bg-blood-red-800 mb-4 inline-flex w-fit shrink-0 items-center justify-center gap-1 overflow-hidden rounded-md border border-transparent px-2 py-0.5 text-xs font-medium whitespace-nowrap text-white transition-[color,box-shadow] focus-visible:ring-[3px] [&>svg]:pointer-events-none [&>svg]:size-3"
            >
              {post.data.category}
            </span>
          </div>

          <h1 class="text-errie-black-900 mb-6 text-4xl leading-tight font-bold lg:text-5xl">
            {post.data.title}
          </h1>
          <p>{post.data.excerpt}</p>

          <div class="text-blood-red-800 mb-6 flex flex-wrap items-center gap-6 text-sm font-medium lg:text-base">
            <div class="flex items-center gap-2">
              <CalendarIcon class="h-4 w-4" aria-hidden="true" />
              <time datetime={isoDate}>{formattedDate}</time>
            </div>

            <div class="flex items-center gap-2">
              <ClockIcon class="h-4 w-4" aria-hidden="true" />
              <span>8 min de leitura</span>
            </div>
          </div>
        </div>
      </header>
      <article class="mx-auto max-w-4xl px-4 py-8 sm:px-6 lg:px-8">
        <div class="prose prose-lg max-w-none">
          <Content />
          <EmailReplyButton 
            postTitle={postTitle}
            postUrl={postUrl}
            style="button"
          />
        </div>
      </article>
      <Author />
    </div>
  </main>
  <Footer />
</Layout>
