---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import HeroSection from "@/components/HeroSection.astro";
import Footer from "@/components/Footer.astro";

import books from "@/data/books.json";

// Agrupar livros por ano
const booksByYear = books.reduce(
  (acc, book) => {
    const year = book.year;
    if (!acc[year]) {
      acc[year] = [];
    }
    acc[year].push(book);
    return acc;
  },
  {} as Record<number, typeof books>
);


// Ordenar anos em ordem decrescente
const years = Object.keys(booksByYear)
  .map(Number)
  .sort((a, b) => b - a);
---

<Layout
  title="Minha Estante - Bruno Pulis"
  description="Livros que li ao longo dos anos"
>
  <Header />
  <main id="main-content">
    <HeroSection
		  title="Leituras"
			description="Minhas leituras ao longo dos anos"
		/>

    <section class="section">
      <div class="container mx-auto py-8">
        {
          years.map(year => (
            <section class="mb-12">
              <div class="mb-6 flex items-center">
                <h2 class="text-red-950 text-2xl font-bold">{year}</h2>
                <p class="ml-10 text-red-950">
                  {booksByYear[year].length}{" "}
                  {booksByYear[year].length === 1
                    ? "livro lido"
                    : "livros lidos"}
                </p>
              </div>

              <table class="w-6xl">
                <thead>
                  <tr class="border-b">
                    <th scope="col" class="px-6 py-4 text-left font-bold text-gray-600">
                      Título
                    </th>
                    <th scope="col" class="px-6 py-4 text-left font-bold text-gray-600">
                      Autor
                    </th>
                    <th scope="col" class="px-6 py-4 text-left font-bold text-gray-600">
                      Ranking
                    </th>
                    <th scope="col" class="px-6 py-4 text-left font-bold text-gray-600">
                      Data
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {booksByYear[year].map(book => (
                    <tr class="border-b">
                      <td class="px-6 py-4 gap-4">
                        <p class="underline">
                          <a href={book.url} rel="external noopener noreferrer sponsored" class="hover:text-red-950">
                            {book.title}
                          </a>
                        </p>
                      </td>
                      <td class="px-6 py-4 gap-4">{book.author}</td>
                      <td class="px-6 py-4 gap-4">
                        {Array.from({ length: 5 }).map((_, index) => (
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class={`inline h-3 w-3 ${
                              index < book.rating
                                ? "text-yellow-400"
                                : "text-gray-300 dark:text-gray-600"
                            }`}
                            viewBox="0 0 20 20"
                            fill="currentColor"
                          >
                            <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                          </svg>
                        ))}
                      </td>
                      <td>
                        {
                          new Date(book.date).toLocaleDateString("pt-BR", {
                            year: "numeric",
                            month: "long",
                            day: "numeric",
                          })
                        }
                      </td>
                    </tr>
                  ))}
                </tbody>
              </table>
            </section>
          ))
        }
      </div>
    </section>
  </main>
  <Footer />
</Layout>
