---
import pulisLogo from '@/assets/horizontal/white.svg'
import { Rss, Github, Mailbox, Linkedin, Youtube, Instagram, Shuffle, ArrowLeft, ArrowRight } from '@lucide/astro'

import writtenByHuman from '@/assets/written-by-human.svg'
import config from '@/data/site.config.json'
---

<footer class="bg-gray-900 pt-16 pb-8 text-white">
  <div class="container-custom">
    <div class="mb-12 grid gap-8 md:grid-cols-2 lg:grid-cols-4">
      <div class="md:col-span-2 lg:col-span-2">
        <a href="/" class="mb-6 flex items-center" aria-label="Go to homepage">
          <img src={pulisLogo.src} alt="" loading="lazy" />
        </a>
        <p class="mb-6 max-w-md text-white">
          Desenvolvedor e engenheiro de acessibilidadeapaixonado por criar experiências digitais excepcionais que
          conectam pessoas e transformam negócios.
        </p>
      </div>
      <div>
        <h3 class="mb-4 text-lg font-semibold">Links rápidos</h3>
        <ul class="space-y-2">
          <li>
            <a href="/" class="text-white -underline-offset-8 transition-colors hover:underline">Home</a>
          </li><li>
            <a href="/features" class="text-white -underline-offset-8 transition-colors hover:underline">Features</a>
          </li><li>
            <a href="/pricing" class="text-white -underline-offset-8 transition-colors hover:underline">Pricing</a>
          </li><li>
            <a href="/contact" class="text-white -underline-offset-8 transition-colors hover:underline">Contact</a>
          </li>
        </ul>
      </div>

      <div>
        <h3 class="mb-4 text-lg font-semibold">Outros Links</h3>
        <ul class="flex space-x-4">
          <li class="social__item">
            <a href="" rel="alternate" type="application/rss+xml" class="social__link">
              <Rss class="" width="24" height="24" aria-hidden="true" />
              <span class="sr-only">Assine o RSS</span>
            </a>
          </li>
          <li class="social__item">
            <a href={config.socialMidia.github} target="_blank" rel="me noopener noreferrer" class="social__link">
              <Github class="" width="24" height="24" aria-hidden="true" />
              <span class="sr-only">GitHub (abre em uma nova janela)</span>
            </a>
          </li>
          <li class="social__item">
            <a href={config.socialMidia.instagram} target="_blank" rel="me noopener noreferrer" class="social__link">
              <Instagram class="" width="24" height="24" aria-hidden="true" />
              <span class="sr-only">Instagram (abre em uma nova janela)</span>
            </a>
          </li>
          <li class="social__item">
            <a href={config.socialMidia.youtube} target="_blank" rel="me noopener noreferrer" class="social__link">
              <Youtube class="" width="24" height="24" aria-hidden="true" />
              <span class="sr-only">YouTube (abre em uma nova janela)</span>
            </a>
          </li>
          <li class="social__item">
            <a href={config.socialMidia.linkedin} target="_blank" rel="me noopener noreferrer" class="social__link">
              <Linkedin class="" width="24" height="24" aria-hidden="true" />
              <span class="sr-only">LinkedIn (abre em uma nova janela)</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="mt-8 border-t border-gray-800 pt-8">
      <div class="flex flex-col md:flex-row md:items-center md:justify-between">
        <p class="mb-4 text-sm text-white -underline-offset-8 hover:underline md:mb-0">
          Feito com <span role="img" aria-label="amor">❤️</span> em BH. Conteúdo licenciado por
          <a href="https://creativecommons.org/licenses/by-sa/4.0/" rel="noopener noreferrer" class=""> CC-BY-SA </a>
        </p>
        <div class="flex flex-col space-x-6 md:flex-row">
          <ul class="flex gap-2">
            <li>
              <a
                href="/declaracao-acessibilidade"
                class="text-sm text-white -underline-offset-8 transition-colors hover:underline"
                >Declaração de Acessibilidade</a>
            </li>
            <li>
              <a href="/uso-ia" class="text-sm text-white -underline-offset-8 transition-colors hover:underline"
                >Uso de IA</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container-custom">
    <div class="mt-5 flex flex-col justify-between gap-3 md:flex-row">
      <ul class="flex flex-col gap-3 space-x-5 sm:justify-between md:flex-row">
        <li class="social__item">
          <a
            rel="external"
            class="text-sm text-white -underline-offset-8 hover:underline"
            href="https://a11y-webring.club/">a11y-webring.club</a
          >
        </li>
        <li class="social__item">
          <a
            rel="external"
            class="text-sm text-white -underline-offset-8 hover:underline"
            href="https://a11y-webring.club/prev"
          >
            <ArrowLeft class="" width="24" height="24" aria-hidden="true" />
            <span class="sr-only">Site anterior</span>
          </a>
        </li>
        <li class="social__item">
          <a
            rel="external"
            class="text-sm text-white -underline-offset-8 hover:underline"
            href="https://a11y-webring.club/random"
          >
            <Shuffle class="" width="24" height="24" aria-hidden="true" />
            <span class="sr-only">Site aleatório</span>
          </a>
        </li>
        <li class="social__item">
          <a
            rel="external"
            class="text-sm text-white -underline-offset-8 hover:underline"
            href="https://a11y-webring.club/next"
          >
            <ArrowRight class="" width="24" height="24" aria-hidden="true" />
            <span class="sr-only">Próximo website</span>
          </a>
        </li>
      </ul>
      <div class="flex flex-col space-x-5">
        <img src={writtenByHuman.src} width="88" alt="Conteúdo escrito por um humano" height="30" />
      </div>
    </div>
  </div>
</footer>
