---
import { ExternalLink, RssIcon } from '@lucide/astro'

import Layout from '@/layouts/Layout.astro'
import Header from '@/components/layout/Header.astro'
import HeroSection from '@/components/layout/HeroSection.astro'
import Footer from '@/components/layout/Footer.astro'

import blogrolls from '@/data/blogroll.json'

// ## Acessibilidade

// - [The A11Y Project](https://www.a11yproject.com/)

// - [Bogdan Lazar](https://bogdanlazar.com/)

// - [Hidde Blog](https://hidde.blog)

// - [Marcy Sutton](https://marcysutton.netlify.app/)

// - [Reinaldo Ferraz](https://reinaldoferraz.com.br/)

// - [Sara Soueidan](https://www.sarasoueidan.com)

// ## Frontend

// - [Piccalilli](https://piccalil.li/)

// - [Sia Karamalegos](https://sia.codes/)

// - [Localghost](https://localghost.dev)

// - [Manuel Matuzovic](https://matuzo.at/)

// ## Indie Web

// - [Kevin Quirk](https://kevquirk.com/)

// - [Blogroll.org](https://blogroll.org/)

// ## Qualidade de Software

// - [Talking about Testing](https://talkingabouttesting.com/)

// ## Artes

// ## Espiritualidade

// - [Lecionário](https://lecionario.com)

// - [Voltemos ao Evangelho](https://voltemosaoevangelho.com/blog/)

// ## Web Standards

// - [WCAG 2.2](https://www.w3.org/TR/WCAG22/)

// - [Cascading Style Sheets (CSS)](https://www.w3.org/groups/wg/css/publications/#rec)
---

<Layout title="Blogroll - Bruno Pulis">
  <Header />
  <main>
    <HeroSection title="Blogroll" description="Blogs que valem a pena dar uma olhada" />

    <section class="bg-white">
      <div class="container-custom py-8">
        <section>
          <div class="container">
            {
              // Agrupa blogs por categoria
              Object.entries(
                blogrolls.reduce((acc, blog) => {
                  acc[blog.category] = acc[blog.category] || []
                  acc[blog.category].push(blog)
                  return acc
                }, {}),
              )
                .sort(([a], [b]) => a.localeCompare(b))
                .map(([category, blogs]) => (
                  <div class="mb-12">
                    <h2 class="text-blood-red-800 mb-6 text-2xl font-bold">{category}</h2>
                    <div class="grid gap-8 md:grid-cols-3">
                      {blogs.map((blogroll) => (
                        <article class="mb-6 rounded-xl border border-gray-200 bg-white p-6 shadow-sm transition hover:shadow-md">
                          <h3 class="text-blood-red-800 mb-2 text-xl font-semibold">{blogroll.name}</h3>
                          <p class="text-errie-black-900">{blogroll.description}</p>
                          <ul class="flex py-4">
                            <li class="inline-flex">
                              <a
                                href={blogroll.rss}
                                target="_blank"
                                rel="noopener noreferrer"
                                class="text-blood-red-800 inline-flex items-center gap-2 font-semibold underline underline-offset-8"
                              >
                                Assinar RSS
                                <RssIcon class="h-4 w-4" />
                              </a>
                            </li>
                            <li class="ml-2 inline-flex">
                              <a
                                href={blogroll.url}
                                target="_blank"
                                rel="noopener noreferrer"
                                class="text-blood-red-800 inline-flex items-center gap-2 font-semibold underline underline-offset-8"
                              >
                                Site
                                <ExternalLink class="h-4 w-4" />
                              </a>
                            </li>
                          </ul>
                        </article>
                      ))}
                    </div>
                  </div>
                ))
            }
          </div>
        </section>
      </div>
    </section>
  </main>
  <Footer />
</Layout>
