---
import { getCollection } from 'astro:content';
import { ArrowRight } from '@lucide/astro';

import { formatDate, formatTimestamp } from '@/filters/date';

const posts = await getCollection('blog');

// Ordenar por data mais recente
const sorted = posts.sort(
  (a, b) =>
    (b.data.publishDate?.getTime() ?? 0) - (a.data.publishDate?.getTime() ?? 0)
);

const gridPosts = sorted.slice(1, 7);
---

<section class="region | flow" id="blog" aria-labelledby="blog-title">
  <div class="wrapper">
    <h2 class="title" id="blog-title">Coisas que tenho pensado</h2>
    <p class="">
      Escrevo sobre acessibilidade, tecnologia, teologia, produtividade e tudo
      que me faz refletir
    </p>

    <ul class="grid | flow" role="list" data-layout="thirds">
      {
        gridPosts.map((post, index) => (
          <li>
            <h3 id={`post-${index}`}>{post.data.title}</h3>
            <p>{post.data.excerpt}</p>
            <p>
              <time datetime={formatTimestamp(post.data.publishDate)}>
                Publicado em:
                {formatDate(post.data.publishDate)}
              </time>
            </p>

            <a href={`/blog/${post.slug}`} aria-labelledby={`post-${index}`}>
              Ler artigo completo
            </a>
          </li>
        ))
      }
    </ul>

    <div class="mt-12">
      <a href="/blog" class="button button--primary"> Leia todos os artigos </a>
    </div>
  </div>
</section>
