---
import { getCollection } from "astro:content";
import { ArrowRight } from "@lucide/astro";

const posts = await getCollection("blog");

// Ordenar por data mais recente
const sorted = posts.sort(
	(a, b) =>
		(b.data.publishDate?.getTime() ?? 0) - (a.data.publishDate?.getTime() ?? 0),
);

const gridPosts = sorted.slice(1, 6);

function formatDate(date?: string | number | Date) {
	if (!date) return "";

	const formatter = new Intl.DateTimeFormat("pt-BR", {
		year: "numeric",
		month: "long",
		day: "numeric",
	});

	return formatter.format(new Date(date));
}
---

<section id="blog" class="py-24 bg-gray-100">
  <div class="mx-auto max-w-6xl px-6">
    <div class="mb-16 text-center">
      <h2 class="mb-4 text-4xl font-bold text-errie-black-900">Coisas que tenho pensado</h2>
      <p class="text-xl font-light text-errie-black-900">
        Escrevo sobre acessibilidade, tecnologia, teologia, produtividade e tudo que me faz refletir
      </p>
    </div>

    <ul class="grid gap-6 md:grid-cols-1">
      {
        gridPosts.map((post, index) => (
          <li class="py-4">
            <h3 class="mb-4 text-3xl font-bold" id={`post-${index}`}>{post.data.title}</h3>
            <p class="text-xl font-light my-4 flex items-center gap-4">
              <time class="font-display text-errie-black-900">
                Publicado em:
                {formatDate(post.data.publishDate)}
              </time>
            </p>
            <p class="mb-6 text-2xl font-light text-errie-black-900">
              {post.data.excerpt}
            </p>
            <a
              href={'/blog/' + post.slug}
              aria-labelledby={`post-${index}`}
              class="flex items-center gap-2 font-semibold text-errie-black-900 underline underline-offset-8 transition hover:no-underline"
            >
              Ler artigo completo
              <ArrowRight class="h-3 w-3" aria-hidden="true" />
            </a>
          </li>
        ))
      }
    </ul>

    <div class="mt-12">
      <a
        href="/blog"
        class="flex items-center gap-2 font-semibold text-errie-black-900 underline underline-offset-8 transition hover:no-underline"
      >
        Leia todos os artigos
        <ArrowRight class="h-3 w-3 inline-flex items-center" aria-hidden="true" />
      </a>
    </div>
  </div>
</section>
