---
import { Image } from "astro:assets";
import cotemig from "@/assets/clients/cotemig.svg";
import elleven from "@/assets/clients/elleven.svg";
import estacio from "@/assets/clients/estacio.svg";
import laraBrenner from "@/assets/clients/lara-brenner.svg";
import mariaInclusiva from "@/assets/clients/maria-inclusiva.svg";
import reponto from "@/assets/clients/reponto.svg";
import una from "@/assets/clients/una.svg";
import uniBh from "@/assets/clients/uni-bh.svg";
---

<section class="bg-gray-100 py-12">
  <div class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-center">
    <div class="mx-auto mb-6 max-w-3xl text-center">
      <span class="bg-blood-red-800 mb-4 inline-block rounded-full px-4 py-1 text-sm font-medium text-white">
        Meus clientes
      </span>
      <h2 class="text-errie-black-900 mb-6 text-4xl font-bold lg:text-5xl">Confiam em nosso trabalho</h2>
    </div>

    <ul class="mt-8 grid grid-cols-1 gap-6 overflow-hidden sm:grid-cols-4 sm:rounded-2xl lg:grid-cols-4">
      <li class="flex items-center justify-center p-4 sm:p-8 lg:p-8">
        <Image
          class="max-h-12 w-full object-contain"
          src={laraBrenner}
          alt="Lara Brenner"
          loading="lazy"
          decoding="async"
          fetchpriority="high"
          width={230}
          height={48}
        />
      </li>
      <li class="flex items-center justify-center p-4 sm:p-8 lg:p-8">
        <Image
          class="max-h-12 w-full object-contain"
          src={reponto}
          alt="Reponto"
          loading="lazy"
          decoding="async"
          fetchpriority="high"
          width={230}
          height={48}
        />
      </li>
      <li class="flex items-center justify-center p-4 sm:p-8 lg:p-8">
        <Image
          class="max-h-12 w-full object-contain"
          src={mariaInclusiva}
          alt="Maria Inclusiva"
          loading="lazy"
          decoding="async"
          fetchpriority="high"
          width={230}
          height={48}
        />
      </li>
      <li class="flex items-center justify-center p-4 sm:p-8 lg:p-8">
        <Image
          class="max-h-12 w-full object-contain"
          src={elleven}
          alt="Elleven"
          loading="lazy"
          decoding="async"
          fetchpriority="high"
          width={230}
          height={48}
        />
      </li>
      <li class="flex items-center justify-center p-4 sm:p-8 lg:p-8">
        <Image
          class="max-h-12 w-full object-contain"
          src={una}
          alt="Una"
          loading="lazy"
          decoding="async"
          fetchpriority="high"
          width={230}
          height={48}
        />
      </li>
      <li class="flex items-center justify-center p-4 sm:p-8 lg:p-8">
        <Image
          class="max-h-12 w-full object-contain"
          src={uniBh}
          alt="Uni BH"
          loading="lazy"
          decoding="async"
          fetchpriority="high"
          width={230}
          height={48}
        />
      </li>
      <li class="flex items-center justify-center p-4 sm:p-8 lg:p-8">
        <Image
          class="max-h-12 w-full object-contain"
          src={estacio}
          alt="Estacio de Sa"
          loading="lazy"
          decoding="async"
          fetchpriority="high"
          width={230}
          height={48}
        />
      </li>
      <li class="flex items-center justify-center p-4 sm:p-8 lg:p-8">
        <Image
          class="max-h-12 w-full object-contain"
          src={cotemig}
          alt="Cotemig"
          loading="lazy"
          decoding="async"
          fetchpriority="high"
          width={230}
          height={48}
        />
      </li>
    </ul>
  </div>
</section>
