---
import projects from "@/data/portfolio.json";

import { Image } from "astro:assets";
import { ExternalLink } from "@lucide/astro";

import ButtonCTA from "@/components/ui/ButtonCTA.astro";

// Importações das imagens
import biblioteca from "/public/images/projects/biblioteca-da-revolucao.webp";
import henriqueNoal from "/public/images/projects/henrique-noal.webp";
import forja from "/public/images/projects/forja-comercial.webp";
import vistaSer from "/public/images/projects/vista-ser.webp";
import casamento from "/public/images/projects/casamento.webp";

// Mapeamento correto das imagens
const projectImages = {
  "biblioteca-da-revolucao.webp": biblioteca,
  "henrique-noal.webp": henriqueNoal,
  "forja-comercial.webp": forja,
  "vista-ser.webp": vistaSer,
  "casamento.webp": casamento,
};

// Função auxiliar para garantir que a imagem existe
const getImageSource = (imageName) => {
  const image = projectImages[imageName];

  if (!image) {
    console.warn(`Imagem não encontrada: ${imageName}`);
    return "/public/images/fallback.webp"; // fallback para uma imagem padrão
  }

  console.log(image);
  return image;
};

const latestProjects = projects.projects
  .sort((a, b) => new Date(b.date) - new Date(a.date))
  .slice(0, 3);
---

<section class="py-16 bg-gray-50 dark:bg-gray-800/50">
  <div class="container mx-auto px-4">
    <div class="text-center max-w-3xl mx-auto mb-16">
      <h2 class="mb-6 text-gray-900 dark:text-white">Resultados que geram impacto</h2>
    </div>
    <div class="grid md:grid-cols-3 gap-8">
      {
        latestProjects.map((project) => {
          const imageName = project.projectImage.split("/").pop();
          const imageSource = getImageSource(imageName);

          return (
            <div class="bg-white rounded-lg shadow-lg overflow-hidden hover:shadow-xl transition-shadow">
              <Image
                src={imageSource}
                alt={`Foto de ${project.name}`}
                class="w-full h-48 object-cover"
                width={300}
                height={300}
              />
              <div class="p-6">
                <h3 class="text-xl font-semibold mb-2">{project.title}</h3>
                <div class="flex flex-wrap gap-2 mb-4">
                  {project.tags.map((tag) => (
                    <span class="bg-gray-100 text-black px-3 py-1 rounded-full text-sm">
                      {tag}
                    </span>
                  ))}
                </div>
                <a href={project.links.url} class="cursor-pointer inline-flex items-center gap-2 text-blood-red hover:underline hover:underline-offset-8 font-semibold transition-colors">
                  Ver detalhes
                  <ExternalLink class="h-4 w-4" />
                </a>
              </div>
            </div>
          );
        })
      }
    </div>

    <ButtonCTA url="/portfolio" text="Ver todos os projetos" />
  </div>
</section>
