---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/layout/Header.astro";
import HeroSection from "@/components/layout/HeroSection.astro";
import Footer from "@/components/layout/Footer.astro";

import books from "@/data/books.json";

// Agrupar livros por ano
const booksByYear = books.reduce(
  (acc, book) => {
    const year = book.year;
    if (!acc[year]) {
      acc[year] = [];
    }
    acc[year].push(book);
    return acc;
  },
  {} as Record<number, typeof books>
);


// Ordenar anos em ordem decrescente
const years = Object.keys(booksByYear)
  .map(Number)
  .sort((a, b) => b - a);
---

<Layout
  title="Minha Estante - Bruno Pulis"
  description="Livros que li ao longo dos anos"
>
  <Header />
  <main id="main-content">
    <HeroSection
		  title="Leituras"
			description="Minhas leituras ao longo dos anos"
		/>

    <section class="section pt-16">
      <div class="container-custom mx-auto">
        {
          years.map(year => (
            <section class="mb-12">
              <div class="mb-6 flex items-center border-b border-blood-red-800 pb-2">
                <h2 class="text-3xl font-bold text-blood-red-800 mr-4">
                  {year}

                  <small>
                    {booksByYear[year].length}{" "}
                    {booksByYear[year].length === 1
                      ? "livro lido"
                      : "livros lidos"
                    }
                </small>
                </h2>
              </div>
              <table class="w-6xl">
                <thead>
                  <tr class="border-b">
                    <th scope="col" class="px-6 py-4 text-left font-bold text-gray-600">
                      Título
                    </th>
                    <th scope="col" class="px-6 py-4 text-left font-bold text-gray-600">
                      Autor
                    </th>
                    <th scope="col" class="px-6 py-4 text-left font-bold text-gray-600">
                      Ranking
                    </th>
                    <th scope="col" class="px-6 py-4 text-left font-bold text-gray-600">
                      Data
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {booksByYear[year].map(book => (
                    <tr class="border-b">
                      <td class="px-6 py-4 gap-4">
                        <p class="underline">
                          <a href={book.url} rel="external noopener noreferrer sponsored" class="hover:text-red-950">
                            {book.title}
                          </a>
                        </p>
                      </td>
                      <td class="px-6 py-4 gap-4">{book.author}</td>
                      <td class="px-6 py-4 gap-4">

                      </td>
                      <td>
                        {
                          new Date(book.date).toLocaleDateString("pt-BR", {
                            year: "numeric",
                            month: "long",
                            day: "numeric",
                          })
                        }
                      </td>
                    </tr>
                  ))}
                </tbody>
              </table>
            </section>
          ))
        }
      </div>
    </section>
  </main>
  <Footer />
</Layout>
