---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import { ExternalLink } from "@lucide/astro";
import me from "@/assets/palestras.webp";
import writtenByHuman from "@/assets/written-by-human.svg";
import config from "@/data/site.config.json";

const currentYear = new Date().getFullYear();
---

<footer class="bg-black text-white">
  <div class="container mx-auto px-6 py-16">
    <div class="grid grid-cols-1 items-start gap-16 lg:grid-cols-2">
      <div class="flex items-start space-x-6">
        <div class="h-32 w-32 flex-shrink-0 overflow-hidden rounded-lg">
          <Image
            src={me}
            class="h-full w-full object-cover"
            alt=""
            loading="lazy"
          />
        </div>
        <div class="space-y-2">
          <h2 class="text-3xl font-bold">Bruno Pulis</h2>
          <p class="text-lg text-gray-400 capitalize">{config.subheadline}</p>
        </div>
      </div>

      <div class="space-y-8">
        <div class="flex items-center space-x-2">
          <h3 class="text-2xl font-bold">Entre em contato</h3>
          <svg
            class="h-6 w-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
          </svg>
        </div>

        <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
          <div class="space-y-2">
            <p class="text-sm text-gray-400">Email:</p>
            <a
              href="mailto:hello@brunopulis.com"
              class="text-lg font-bold text-white transition-colors hover:text-gray-300"
            >
              {config.contact.email}
            </a>
          </div>
          <div class="space-y-2">
            <p class="text-sm text-gray-400">Telefone</p>
            <a
              href="tel:+5531973438008"
              class="text-lg font-bold text-white transition-colors hover:text-gray-300"
            >
              {config.contact.cellphone}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="border-t border-gray-800"></div>
  <div class="container mx-auto px-6 py-8">
    <div
      class="flex flex-col items-start justify-between space-y-6 lg:flex-row lg:items-center lg:space-y-0"
    >
      <nav class="flex flex-wrap items-center gap-6 text-sm">
        <ul>
          <li class="inline">
            <a
              href="#"
              class="text-white transition-colors hover:underline hover:underline-offset-8"
              >Página inicial</a
            >
          </li>
          <li class="mx-2 inline">
            <a
              href="/portfolio"
              class="text-white transition-colors hover:underline hover:underline-offset-8"
              >Portfólio</a
            >
          </li>
          <li class="mx-2 inline">
            <a
              href="/newsletter"
              class="text-white transition-colors hover:underline hover:underline-offset-8"
              >Newsletter</a
            >
          </li>
          <li class="mx-2 inline">
            <a
              href="/blog"
              class="text-white transition-colors hover:underline hover:underline-offset-8"
              >Blog</a
            >
          </li>
          <li class="mx-2 inline">
            <a
              href="#"
              class="text-white transition-colors hover:underline hover:underline-offset-8"
              >Sobre</a
            >
          </li>
          <li class="mx-2 inline">
            <a
              href="#"
              class="text-white transition-colors hover:underline hover:underline-offset-8"
              >Contato</a
            >
          </li>
        </ul>
      </nav>

      <!-- Copyright -->
      <div class="text-sm text-gray-400">
        <p>
          Feito com <span role="img" aria-label="amor">❤️</span> em BH, 2012 - {
            currentYear
          }.
          <a
            href="https://creativecommons.org/licenses/by-sa/4.0/"
            rel="noopener noreferral"
            class="hover:text-white hover:underline hover:underline-offset-8"
          >
            CC-BY-SA
            <ExternalLink class="inline h-4 w-4" />
          </a>
        </p>
      </div>
    </div>

    <div class="mt-6 border-t border-gray-800 pt-6">
      <div
        class="flex flex-col items-start justify-between space-y-4 lg:flex-row lg:items-center lg:space-y-0"
      >
        <div class="flex flex-wrap items-center gap-2 text-xs text-white">
          <ul>
            <li class="inline">
              <a
                rel="external"
                class="footer-credits__link"
                href="https://a11y-webring.club/">a11y-webring.club</a
              >
              <span class="mx-2 text-white">/</span>
            </li>
            <li class="inline">
              <a
                rel="external"
                class="footer-credits__link"
                referrerpolicy="strict-origin"
                href="https://a11y-webring.club/prev">Site anterior</a
              >
              <span class="mx-2 text-white">/</span>
            </li>
            <li class="inline">
              <a
                rel="external"
                class="footer-credits__link"
                referrerpolicy="strict-origin"
                href="https://a11y-webring.club/random">Site aleatório</a
              >
              <span class="mx-2 text-white">/</span>
            </li>
            <li class="inline">
              <a
                rel="external"
                class="footer-credits__link"
                referrerpolicy="strict-origin"
                href="https://a11y-webring.club/next">Próximo website</a
              >
            </li>
          </ul>
        </div>

        <div class="flex flex-wrap items-center gap-2 text-xs text-white">
          <ul>
            <li class="inline">
              <a
                href="/accessibility"
                class="ml-1 inline-flex text-sm text-white hover:underline hover:underline-offset-8 md:ml-2"
              >
                Declaração de Acessibilidade
              </a>
              <span class="mx-2 text-white">•</span>
            </li>
            <li class="inline">
              <a
                href="/ai"
                class="ml-1 inline-flex text-sm text-white hover:underline hover:underline-offset-8 md:ml-2"
                >Uso de IA</a
              >
              <span class="mx-2 text-white">•</span>
            </li>
            <li class="inline">
              <a
                href="/privacy-policy"
                class="ml-1 inline-flex text-sm text-white hover:underline hover:underline-offset-8 md:ml-2"
                >Política de Privacidade</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="mt-6 border-t border-gray-800 pt-6">
      <div
        class="flex flex-col items-start justify-between space-y-4 lg:flex-row lg:items-center lg:space-y-0"
      >
        <div class="flex flex-wrap items-center gap-2 text-xs text-white">
          <ul class="flex justify-end gap-3 space-x-4">
            <li class="inline">
              <a
                href={config.socialMidia.bluesky}
                class="text-xl text-white transition-colors hover:text-red-200"
              >
                <Icon name="fa6-brands:bluesky" />
              </a>
            </li>
            <li class="inline">
              <a
                href={config.socialMidia.mastodon}
                class="text-xl text-white transition-colors hover:text-red-200"
              >
                <Icon name="fa6-brands:mastodon" />
              </a>
            </li>
            <li class="inline">
              <a
                href={config.socialMidia.instagram}
                class="text-xl text-white transition-colors hover:text-red-200"
              >
                <Icon name="fa6-brands:instagram" />
              </a>
            </li>
            <li class="inline">
              <a
                href={config.socialMidia.linkedin}
                class="text-xl text-white transition-colors hover:text-red-200"
              >
                <Icon name="fa6-brands:linkedin" />
              </a>
            </li>
            <li class="inline">
              <a
                href={config.socialMidia.youtube}
                class="text-xl text-white transition-colors hover:text-red-200"
              >
                <Icon name="fa6-brands:youtube" />
              </a>
            </li>
            <li class="inline">
              <a
                href={config.socialMidia.github}
                class="text-xl text-white transition-colors hover:text-red-200"
              >
                <Icon name="fa6-brands:github" />
              </a>
            </li>
          </ul>
        </div>

        <div
          class="flex flex-wrap items-center justify-center gap-2 text-xs text-white md:mt-2"
        >
          <ul class="flex justify-end gap-3 space-x-4">
            <li class="inline">
              <a href="https://astro.build"
                ><img
                  src="https://astro.badg.es/v2/built-with-astro/tiny.svg"
                  alt="Built with Astro"
                  width="120"
                  height="20"
                /></a
              >
            </li>
            <li class="inline">
              <Image
                src={writtenByHuman}
                class="inline-block"
                alt="Escrito por um humano"
                loading="lazy"
              />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
