---
interface Props {
	title: string
	highlightText?: string
	description: string
	timestamp?: string
}

const { title, highlightText, description, timestamp } = Astro.props

// Split the title to insert the highlighted text if provided
let titleStart = title
let titleEnd = ''

if (highlightText) {
	const titleParts = title.split(highlightText)
	if (titleParts.length > 1) {
		titleStart = titleParts[0]
		titleEnd = titleParts[1]
	}
}
---

<section class="body-font bg-red-950 text-white">
	<div
		class="container mx-auto flex flex-col items-center px-5 py-12 md:flex-row"
	>
		<div
			class="mb-16 flex flex-col items-center text-center md:mb-0 md:w-1/2 md:items-start md:pr-16 md:text-left lg:flex-grow lg:pr-24"
		>
			<h1 class="title-font mb-4 text-3xl font-medium sm:text-4xl">
				{
					highlightText ? (
						<>
							{titleStart}
							<span class="text-white">{highlightText}</span>
							{titleEnd}
						</>
					) : (
						title
					)
				}
			</h1>
			<p class="mb-3 text-lg leading-relaxed font-light" style="animation-delay: 200ms">
				{description}
			</p>
			<time class="text-white" datetime={timestamp}>
				{timestamp}
			</time>
		</div>
	</div>
</section>
