---
import { ChevronRight, ChevronLeft } from "@lucide/astro";

interface Props {
  currentPage: number;
  lastPage: number;
  prevUrl: string | undefined;
  nextUrl: string | undefined;
}

const { currentPage, lastPage, prevUrl, nextUrl } = Astro.props;

const isPrevDisabled = !prevUrl;
const isNextDisabled = !nextUrl;
---

<nav aria-label="Navegação entre páginas" class="mt-8 flex items-center justify-center gap-4">
  <a
    href={prevUrl}
    class:list={[
      'inline-flex items-center px-4 py-2 rounded-lg border transition-colors',
      {
        'border-gray-300 text-gray-700 hover:bg-gray-100': !isPrevDisabled,
        'border-gray-200 text-gray-400 cursor-not-allowed': isPrevDisabled,
      },
    ]}
    aria-disabled={isPrevDisabled}
    tabindex={isPrevDisabled ? -1 : undefined}
  >
    <ChevronLeft class="h-5 w-5 mr-2" />
    Anterior
  </a>

  <span class="text-sm font-medium text-gray-700">
    Página {currentPage} de {lastPage}
  </span>

  <a
    href={nextUrl}
    class:list={[
      'inline-flex items-center px-4 py-2 rounded-lg border transition-colors',
      {
        'border-gray-300 hover:bg-gray-100': !isNextDisabled,
        'border-gray-200 text-gray-400 cursor-not-allowed': isNextDisabled,
      },
    ]}
    aria-disabled={isNextDisabled}
    tabindex={isNextDisabled ? -1 : undefined}
  >
    Próximo

    <ChevronRight class="h-5 w-5 ml-2" />
  </a>