---

import { Picture } from "astro:assets";

interface Props {
  title: string;
  description: string;
  image: string;
  formats?: string[];
  alt?: string;
  deliveries?: string[];
  link?: string;
  linkText?: string;
  imagePosition?: 'left' | 'right';
}

const {
  title,
  description,
  image,
  formats = ["avif", "webp"],
  alt = "",
  deliveries = [],
  link,
  linkText = "Saiba mais",
  imagePosition = 'left'
} = Astro.props;

---

<article class="flex flex-col items-center gap-8 space-y-8 pb-20 lg:flex-row">
  {imagePosition === 'left' ? (
    <>
      <div class="w-full lg:w-1/2">
        <Picture
          src={image}
          formats={formats}
          alt={alt}
          loading="lazy"
          decoding="async"
          fetchpriority="low"
          width={608}
          height={390}
          class="h-auto w-full rounded-xl object-cover shadow-lg"
        />
      </div>
      <div class="relative w-full lg:w-1/2">
        <h2 class="text-blood-red mb-4 text-3xl font-bold md:text-4xl">{title}</h2>
        <p class="mb-3 text-lg text-errie-black-900">{description}</p>
        {deliveries.length > 0 && (
          <>
            <p class="mb-3 text-lg text-errie-black-900">O que entregamos:</p>
            <ul class="mb-6 list-disc pl-5">
              {deliveries.map(item => (
                <li class="text-lg text-errie-black-900">{item}</li>
              ))}
            </ul>
          </>
        )}
        {link && (
          <div class="mb-4 flex flex-col gap-3 sm:flex-row">
            <a
              href={link}
              class="bg-blood-red-800 border-blood-red-800 text-white hover:bg-white hover:border-blood-red-800 hover:text-blood-red-800 inline-block rounded-lg border px-6 py-3 text-base font-semibold transition"
            >
              {linkText}
            </a>
          </div>
        )}
      </div>
    </>
  ) : (
    <>
      <div class="relative w-full lg:w-1/2">
        <h2 class="text-blood-red mb-4 text-3xl font-bold md:text-4xl">{title}</h2>
        <p class="mb-3 text-lg text-errie-black-900">{description}</p>
        {deliveries.length > 0 && (
          <>
            <p class="mb-3 text-lg text-errie-black-900">O que entregamos:</p>
            <ul class="mb-6 list-disc pl-5">
              {deliveries.map(item => (
                <li class="text-lg text-errie-black-900">{item}</li>
              ))}
            </ul>
          </>
        )}
        {link && (
          <div class="mb-4 flex flex-col gap-3 sm:flex-row">
            <a
              href={link}
              class="bg-blood-red-800 border-blood-red-800 text-white hover:bg-white hover:border-blood-red-800 hover:text-blood-red-800 inline-block rounded-lg border px-6 py-3 text-base font-semibold transition"
            >
              {linkText}
            </a>
          </div>
        )}
      </div>
      <div class="w-full lg:w-1/2">
        <Picture
          src={image}
          formats={formats}
          alt={alt}
          loading="lazy"
          decoding="async"
          fetchpriority="low"
          width={608}
          height={390}
          class="h-auto w-full rounded-xl object-cover shadow-lg"
        />
      </div>
    </>
  )}
</article>
