---
import { MapPinned, Tags, Globe } from '@lucide/astro'

interface Location {
  locality: string
  country: string
}

interface Props {
  tags?: string[]
  location?: Location
  publishedAt?: string[]
  reply?: string
}

const { tags = [], location, publishedAt = [], reply } = Astro.props

function slugify(str: string) {
  return str
    .toLowerCase()
    .replace(/\s+/g, '-')
    .replace(/[^a-z0-9-]/g, '')
}
---
<!-- 
<Tags
              tags={post.data.tags}
              location={{ locality: post.data.location, country: post.data.country }}
              publishedAt={post.data.publishedAt}
              reply={post.data.reply}
            /> -->

<footer>
  <ul class="border-gray-50 my-2 overflow-hidden rounded-xl border bg-gray-50" role="list">
    <li class="text-errie-black-900 grid grid-cols-[6rem_auto] items-center gap-2 p-2">
      {
        location && (
          <div class="flex items-center gap-2 text-sm text-gray-600">
            <span class="flex items-center gap-1 font-semibold">
              <MapPinned class="text-blood-red-800 h-6 w-6" aria-hidden="true" />
              Onde:
            </span>
            <span class="p-location h-adr">
              <span class="p-locality">{location.locality}</span>,<span class="p-country">{location.country}</span>
            </span>
          </div>
        )
      }
    </li>
    <li class="text-errie-black-900 grid grid-cols-[6rem_auto] items-center gap-2 p-2">
      {
        tags.length > 0 && (
          <div>
            <h3 class="mb-2 text-lg font-semibold text-gray-900">Tags</h3>
            <div class="flex flex-wrap gap-2">
              {tags.map((tag) => (
                <a
                  href={`/tags/${slugify(tag)}`}
                  class="cursor-pointer rounded-full bg-gray-100 px-3 py-1 text-sm text-gray-700 transition-colors hover:bg-gray-200"
                >
                  #{tag}
                </a>
              ))}
            </div>
          </div>
        )
      }
    </li>
    <li class="text-errie-black-900 grid grid-cols-[6rem_auto] items-center gap-2 p-2">
      {
        publishedAt.length > 0 && (
          <div>
            <h3 class="mb-2 text-lg font-semibold text-gray-900">Também em:</h3>
            <ul class="list-disc pl-5">
              {publishedAt.map((url) => (
                <li>
                  <a
                    href={url}
                    class="u-syndication text-blue-700 underline transition-colors hover:text-blue-900"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    {url}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        )
      }
      <strong class="flex items-center gap-2">
        <img
          draggable="false"
          class="mr-1 h-5 w-5 align-middle"
          alt="🌐"
          src="https://media.hacdias.com/emoji/16.0.1/svg/1f310.svg"
        /> Também:
      </strong>
      <span>
        <a
          class="u-syndication text-blue-700 hover:underline"
          rel="noopener noreferrer"
          href="https://news.indieweb.org/en">news.indieweb.org</a
        >,
        <a
          class="u-syndication text-blue-700 hover:underline"
          rel="noopener noreferrer"
          href="https://fosstodon.org/@hacdias/114964919259561217">fosstodon.org</a
        >,
        <a
          class="u-syndication text-blue-700 hover:underline"
          rel="noopener noreferrer"
          href="https://bsky.app/profile/hacdias.com/post/3lvipskdies27">bsky.app</a
        >
      </span>
    </li>
    <li class="text-errie-black-900 grid grid-cols-[6rem_auto] items-center gap-2 p-2">
      <strong class="flex items-center gap-2">
        <img
          draggable="false"
          class="mr-1 h-5 w-5 align-middle"
          alt="💬"
          src="https://media.hacdias.com/emoji/16.0.1/svg/1f4ac.svg"
        /> Reply
      </strong>
      <span>
        <a
          class="text-blue-700 hover:underline"
          href="mailto:mail@hacdias.com?subject=Re: IndieWeb%20Carnival%3a%20Colors"
          rel="noopener noreferrer">E-Mail</a
        >,
        <a class="text-blue-700 hover:underline" href="https://fosstodon.org/@hacdias" rel="noopener noreferrer"
          >Mastodon</a
        >,
        <a class="text-blue-700 hover:underline" href="https://bsky.app/profile/hacdias.com" rel="noopener noreferrer"
          >Bluesky</a
        >,
        <a class="text-blue-700 hover:underline" href="https://indieweb.org/Webmention" rel="noopener noreferrer"
          >Webmentions</a
        >
      </span>
    </li>
  </ul>
</footer>
